@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap');

body {
    font-family: 'JetBrains Mono', monospace;
    background: url('/fondo.png') no-repeat center center fixed;
    background-size: cover;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}